venv/
plots/
results/pilot/
results/holding_folder/
dataframes/pilot/
dataframes/batteries/generated_batteries
analysis/
saved_models/
slurm_job_files/
*.json
/project_scripts/__pycache__
.env
logs/
__pycache__/
/__pycache__
.Rhistory
gpt-4o.jsonl
edit_slurms.py
/.idea
*.jsonl
*.sh
/vignette_slurms
/dataframes
/INTUIT
